{{- if and .ohMyZshPath .ohMyZshRepo }}
[ "{{ .ohMyZshPath }}" ]
type = "git-repo"
url = "{{ .ohMyZshRepo }}"
refreshPeriod = "168h"

{{- end }}
{{- if and .gitWorktreeZshPluginPath .gitWorktreeZshPluginRepo }}
[ "{{ .gitWorktreeZshPluginPath }}" ]
type = "git-repo"
url = "{{ .gitWorktreeZshPluginRepo }}"
refreshPeriod = "168h"

{{- end }}
{{- if and .isWork .workDotfilesRepo }}
[ "{{ .workDotfilesPath }}" ]
type = "git-repo"
url = "{{ .workDotfilesRepo }}"
refreshPeriod = "24h"
{{- end }}

{{- if and .opencodeEnabled .opencodeRepo .opencodePath }}
[ "{{ .opencodePath }}" ]
type = "git-repo"
url = "{{ .opencodeRepo }}"
refreshPeriod = "24h"
{{- end }}
