# ~/.zshrc managed by chezmoi

export ZSH="$HOME/{{ .ohMyZshPath }}"
export ZSH_CUSTOM="$HOME/{{ .zshCustomPath }}"

ZSH_THEME="{{ .zshTheme }}"
DISABLE_AUTO_UPDATE="true"
plugins=(
{{- range .zshPlugins }}
  {{ . }}
{{- end }}
{{- if .isWork }}
{{- range .workZshPlugins }}
  {{ . }}
{{- end }}
{{- end }}
)

export ZSH_CACHE_DIR="$HOME/.oh-my-zsh-cache"
if [[ ! -d "$ZSH_CACHE_DIR" ]]; then
  mkdir -p "$ZSH_CACHE_DIR"
fi

if [[ ! -d "$ZSH_CUSTOM" ]]; then
  mkdir -p "$ZSH_CUSTOM"
fi

if [[ -f "$ZSH/oh-my-zsh.sh" ]]; then
  source "$ZSH/oh-my-zsh.sh"
fi

for file in "$HOME"/.zshrc.d/*.zsh(.N); do
  source "$file"
done
